/* This sets the font for the entire website and on all screen sizes. */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Sets the background of the body on all screens. */
body {
    background-color: #343a40;
    background-image: url("./assets/brick-wall.png");
}
main {
    overflow: auto;
    padding-bottom: 70px;
}
a {
    color: white;
}

.navbar {
    background-color:lightgrey !important;
}


/* Styling for my name on the header */
.navbar-brand {
text-align: center !important;
padding: 30px;
margin-left: 50px;
width: 200px;
background-color: #6c757d;
color: white !important;
float: left;
height: 90px}

/* This sets the width, height, color, and some padding to the navbar */
header nav {
    width: 100%;
    padding-top: 30px;
    background-color: lightgrey;
    height: 90px;
}

/* This moves the navbar links slightly left (from the far right of the page). */
.navbar-nav {
    margin-right: 50px;
}

/* Applies styling to the 3 links on the right of the navbar */
header a {
    color:gray;
    border-right:lightgray;
    background-color: lightgrey;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
}


/* Styling for the box that contains the focal point of the site. */
.container {
    background-color: #343a40;
    margin-top: 2% !important;
    width: 65%;
    padding: 20px;
    overflow: auto;
}
#about-container {
    /* background-color: #343a40; */
    margin-top: 2% !important;
    width: 70%;
    padding: 20px;
    overflow: auto;
}

.about-links {
    padding: 30px;
}

#contact-container {
    margin-top: 2% !important;
    width: 65%;
    padding: 20px;
    overflow: auto;
    background-color: none !important;
}

.port-card {
    background-color: lightgrey;
}

/* Formats the main paragraph about me. */

main p {line-height: 200%;
        color: lightgray;
        font-weight: lighter;}

#about-me-pic {
    width: 100%;
    height: auto;
}

.card-img-top {
    height: 200px;
    width: auto;
}

/* Styling for the footer at the bottom of each page. */
footer {
    position: relative;
    bottom: 0;
    font-size: 10px;
    color: #343a40;
    text-align: center;
    background-color: lightgrey;
    width: 100%;
    height: 10%;
    padding: 20px;
    clear: both;
}

#port-footer {
    position: relative;
    margin-top: 10px;
}

.btn-outline-dark {
    margin: 0 auto;
}

/* Styles the box on the contact page */
.contact-box {
            padding: 20px; 
            background-color: lightgrey;
        }

.nav-item {
    background-color: lightgrey;
    z-index: 1;
}

/* Below are the adjustments needed to change content orientation as screen size decreases. */
@media screen and (min-width: 980px){    
    .container {
        width: 55%;
        margin-left: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px){
    a {
        font-size: 15px;
    }
    span {
        font-size: 15px;
    }
    #about-container {
        /* background-color: #343a40; */
        margin-top: 2% !important;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        overflow: auto;
    }
    section {
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
        .col-sm-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .navbar {
            padding: 0rem 1rem;
        }
        .navbar-brand {
            margin-top: 0;
        }
        #about-container {
            /* background-color: #343a40; */
            margin-top: 2% !important;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            overflow: auto;
        }
    }



    